.container{
  display: flex;
  flex-direction: column;
  height:100vh;
}
.header{
  padding:0px
    margin:0px
  flex:15%
background: url("images/logonq.JPG") center/100% no-repeat;
  background-color: pink 
  }
.menu{
flex:5%
  background-color: baby pink
}
.content{
flex:70%
  background-color: baby pink
}
.footer{
flex:10%
  background-color: baby pink
}
h1 {
  color:red;
}
.f1 {
  color: tomato;
  margin-top: 18pt;
  margin-bottom: 12pt;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}
.f2{
  color: black;
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-size: 15px;
  font-style: normal;
  font-family: Arial;
}

